<p>Este trabajo está licenciado bajo una Licencia Internacional de Atribución-CompartirIgual 4.0 de Creative Commons</p>
<p>"Rails", "Ruby on Rails" y el logotipo de Rails son marcas comerciales de David Heinemeier Hansson. Todos los derechos reservados.</p>