<%= render 'welcome' %>

<h3>Edição Kindle</h3>

<div>
  A Edição Kindle dos Guias do Rails deve ser considerada um trabalho em andamento. O feedback é muito bem-vindo. Por favor, consulte a seção "Feedback" no final de cada guia para instruções.
</div>