<p>ผลงานนี้ได้รับอนุญาตภายใต้ <a href="https://creativecommons.org/licenses/by-sa/4.0/">สัญญาอนุญาตครีเอทีฟคอมมอนส์แบบแสดงที่มา-ใช้เหมือนกัน 4.0 นานาชาติ</a></p>
<p>"Rails", "Ruby on Rails" และโลโก้ Rails เป็นเครื่องหมายการค้าของ David Heinemeier Hansson สงวนลิขสิทธิ์ทั้งหมด</p>