<p>Ši darbo versija yra licencijuota pagal <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> licenciją</p>
<p>"Rails", "Ruby on Rails" ir Rails logotipas yra David Heinemeier Hansson prekių ženklai. Visos teisės saugomos.</p>