<%= render 'welcome' %>

<h3>Kindle leidimas</h3>

<div>
  "Rails Guides" Kindle leidimas turėtų būti laikomas darbu, kuris vis dar vyksta. Mes labai vertiname atsiliepimus. Prašome peržiūrėti kiekvieno vadovo pabaigoje esančią "Atsiliepimai" sekciją dėl instrukcijų.
</div>