<%= render 'welcome' %>

<h3>Edición Kindle</h3>

<div>
  La Edición Kindle de las Guías de Rails debe considerarse como un trabajo en progreso. Se agradece mucho cualquier comentario. Por favor, consulte la sección "Comentarios" al final de cada guía para obtener instrucciones. 
</div>