<p>Ce travail est sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a></p>
<p>"Rails", "Ruby on Rails" et le logo Rails sont des marques déposées de David Heinemeier Hansson. Tous droits réservés.</p>