<%= render 'welcome' %>

<h3>Kindle Edition</h3>

<div>
  การอ่านเวอร์ชัน Kindle ของเอกสาร Rails Guides ควรถือเป็นงานที่กำลังพัฒนาอยู่ ขอต้อนรับคำติชมและคำแนะนำอย่างดีเสมอ โปรดดูส่วน "คำติชม" ที่อยู่ท้ายเอกสารแต่ละเล่มเพื่อขอคำแนะนำเพิ่มเติม
</div>