<%= render 'welcome' %>

<h3>Édition Kindle</h3>

<div>
  L'édition Kindle des Rails Guides doit être considérée comme un travail en cours. Les commentaires sont les bienvenus. Veuillez consulter la section "Commentaires" à la fin de chaque guide pour les instructions.
</div>