<p>この作品は<a href="https://creativecommons.org/licenses/by-sa/4.0/">クリエイティブ・コモンズ・ライセンス 表示 - 継承 4.0 国際</a>の下でライセンスされています。</p>
<p>「Rails」、「Ruby on Rails」、およびRailsのロゴはDavid Heinemeier Hanssonの商標です。全著作権所有。</p>